[number_data_views]
number_data_views = 3

[class_name_of_controls]
class_name = class1

[filename_of_data_views_for_training]
view1 = ./input/example.data_view_1.train.txt
view2 = ./input/example.data_view_2.train.txt
view3 = ./input/example.data_view_3.train.txt
class_labels = ./input/example.class_labels_of_samples.train.txt

[filename_of_data_views_for_testing]
view1 = ./input/example.data_view_1.test.txt
view2 = ./input/example.data_view_2.test.txt
view3 = ./input/example.data_view_3.test.txt
class_labels = ./input/example.class_labels_of_samples.test.txt

[level1_classifiers_of_data_views_for_cancer_detection]
view1 = LinearSVC_l2_c1
view2 = LinearSVC_l2_c1
view3 = LinearSVC_l2_c1

[level1_classifiers_of_data_views_for_TOO]
view1 = ovr_LinearSVC_l2_c1
view2 = ovr_LinearSVC_l2_c1
view3 = ovr_LinearSVC_l2_c1

[level1_num_folds_of_training_data_for_OOFP]
num_folds = 5

[level2_classifier_for_cancer_detection]
classifier = RF_ntree500_mtry1.5

[level2_classifier_for_TOO]
classifier = ovr_RF_ntree500_mtry1.5

[output_prediction_scores]
file_of_cancer_detection_prediction = ./output/example.test.cancer_detection.preds.txt
file_of_TOO_prediction = ./output/example.test.TOO.preds.txt

